body {
  background-color: #2D5719;
 }
h1{
  text-align: center;
  font-family: fantasy;
  color: #F1F3CD;
  font-size: 8vh;
  margin: 3%;
}
h3{
  text-align: center;
  font-family: fantasy;
  color: black;
  font-style: unset;
  font-size: 5vh;
  text-decoration: underline;
  margin: 3%;
}

.grid{
    display: flex;
    min-height: 80vh;
    min-width: 100vw;

}
.infos {
    border-radius: 15px 50px;
    min-height: 40%;
    min-width: 40%;
    margin: 5%;
    background-color: #FDEFBD;
    text-align: center;
}
.map {
    border-radius: 15px 50px;
    border: 3px solid #E63607;
    min-height: 40%;
    min-width: 40%;
    margin: 5%;
   
  }

  label{
    text-align: center;
    font-family: cursive;
    color: black;
    font-style: unset;
    font-size: 3vh;
  }
  